<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/Name.cshtml" method="post">
        <label for="name_field">Imię:</label>
        <input type="text" name="name" id="name_field"/>
        <br/>
        <input type="submit" value="Prześlij"/>
    </form>
</body>
</html>
