@{ 
    List<String> rules;
    if (Session["rules"] == null)
    {
        rules = new List<string>();
        Session["rules"] = rules;
    }
    else
    {
        rules = (List<string>)Session["rules"];
    }
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/NewRuleHandler.cshtml", method="post">
        <label for="new_rule">Nowa reguła</label>
        <input type="text" name="new_rule" id="new_rule"/><br/>
        <input type="submit" value="Zatwierdź"/>
    </form>
    @if (Session["addRuleMsg"] != null)
    {
        <h1>@Session["addRuleMsg"]</h1>
        Session["addRuleMsg"] = null;
    }
        
    <h1>Reguły</h1>
    @if (rules.Count() == 0)
    {
        <span>Nie ma żadnych reguł!</span>
    }
    else
    {
        <ul>
            @foreach (string rule in rules)
            {
                <li>@rule</li>
            }
        </ul>
    }
</body>
</html>
